<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if productos2 %} 
    <ul>
    {% for curso in productos2 %} 
        <li>Nombre: {{curso.nombre_prod}}</li>
        <li>Codigo: {{curso.codigo_prod}}</li>
    {% endfor %} 
    </ul>

    {% else %} 

        <p>No se encotro nada</p>

    {% endif %}







    </ul>


</body>
</html>